body {
	background-color: #f5f5f5;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #444;
}

.container {
	max-width:100%;
	margin: 0 auto;
	padding: 4px 4px;
	max-height: 100%;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}


.title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.section-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 5%;
}

.scroll-box {
	overflow-y: scroll;
	white-space: nowrap;
	margin-bottom: 30px;
	height: 200px; /* set the height to limit the scroll box */
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.scroll-box::-webkit-scrollbar {
    width: 8px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #F5F5F5;
}

.recent-btn {
	display: block; /* change to display as a block */
	background-color: #fff;
	border: 2px solid #ccc;
	margin-left: 30%;
	color: #444;
	padding: 10px 20px;
	margin-bottom: 10px; /* add margin bottom to separate the buttons */
	border-radius: 20px;
	font-size: 16px;
	cursor: pointer;
	width: 40%;
	display: inline-block;

}

.recent-btn:last-child {
	margin-right: 0;
}
.icn{
	height: 100%;
	width: 100%;
	max-width: 10px;
}

.recent-btn:hover {
	background-color: #ccc;
	color: #fff;
	display: inline-block;
}

.edit-btn{
	border: 2px solid #ccc;
	background-color: #fff;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
}
.edit-btn:hover {
	background-color: #ccc;
}





.button-ctr{
	white-space: nowrap;
}


.create-btn {
	display: block;
	background-color: #3d3d3d;
	color: #fff;
	padding: 16px 40px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto 30px;
	border: none;
	cursor: pointer;
}

.home-button {
	/* this is for the button that takes you back to the home page, make it cover the complete width of the screen */
	/* add the following styles */
	display: block;
	background-color: #3d3d3d;
	color: #fff;
	padding: 2px 4px;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 600;
	margin: 0 auto 0px;
	border: none;
	cursor: pointer;
	text-align: center;
	place-items: center;
	width: 100%;
}

.footer-button {
	/* this is for the button that takes you back to the home page, make it cover the complete width of the screen */
	/* add the following styles */
	display: block;
	background-color: #3d3d3d;
	color: #fff;
	padding: 2px 4px;
	border-radius: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0 auto 0px;
	margin-top: 96px;
	border: none;
	cursor: pointer;
	text-align: center;
	place-items: center;
	width: 100%;
}

.create-button {
	display: block;
	/* background-color: #3d3d3d; */
	color: black;
	font-weight: bolder ;
	padding: 2px 96px;
	/* border-radius: 30px; */
	font-size: 40px;
	margin: 0 auto 30px;
	border: none;
	cursor: pointer;
	text-align: center;
	place-items: center;
	width: 100%;
}


.create-btn:hover {
	background-color: #4d4d4d;
}

.donate-btn {
	display: block;
	background-color: #c0392b;
	color: #fff;
	padding: 16px 40px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}

.donate-btn:hover {
	background-color: #e74c3c;
}

.form-label {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
}

label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.form-input {
	display: block;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

.flying-text {
	animation: fly-in 0.5s ease-out forwards;
	opacity: 0;
  }
  
  @keyframes fly-in {
	0% {
	  transform: translateX(-100%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0%);
	  opacity: 1;
	}
  }

.add-term-btn {
	/* it should be
	stylized so it should have no background fill, be a 
	light blueish color, and be small and placed to the left of the input */
	
	/* add the following styles */
	background-color: transparent;
	color: #3498db;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
