body {
	background-color: #f5f5f5;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #444;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 20px;
}

.title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.section-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-left: 30%;
}

.scroll-box {
	overflow-y: scroll;
	white-space: nowrap;
	margin-bottom: 30px;
	height: 200px; /* set the height to limit the scroll box */
	width: 80%;
}

.scroll-box::-webkit-scrollbar {
    width: 8px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #F5F5F5;
}

.recent-btn {
	display: block; /* change to display as a block */
	background-color: #fff;
	border: 2px solid #ccc;
	margin-left: 38%;
	color: #444;
	padding: 10px 20px;
	margin-bottom: 10px; /* add margin bottom to separate the buttons */
	border-radius: 20px;
	font-size: 16px;
	cursor: pointer;
}

.recent-btn:last-child {
	margin-right: 0;
}

.recent-btn:hover {
	background-color: #ccc;
	color: #fff;
}

.create-btn {
	display: block;
	background-color: #3d3d3d;
	color: #fff;
	padding: 16px 40px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto 30px;
	border: none;
	cursor: pointer;
}

.create-btn:hover {
	background-color: #4d4d4d;
}

.donate-btn {
	display: block;
	background-color: #c0392b;
	color: #fff;
	padding: 16px 40px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}

.donate-btn:hover {
	background-color: #e74c3c;
}

.form-label {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
}

.form-input {
	display: block;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

.add-term-btn {
	/* it should be
	stylized so it should have no background fill, be a 
	light blueish color, and be small and placed to the left of the input */
	
	/* add the following styles */
	background-color: transparent;
	color: #3498db;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
