<!DOCTYPE html>
<html>
<head>
	<title>LexiCoach</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="../static/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="box">
			<h1>Help keep LexiCoach Free!</h1>
			<p>Your donations help cover the costs of website hosting, development, and maintenance, ensuring that our cutting-edge NLP technology remains accessible to learners around the world. With your support, we can continue providing high-quality vocabulary education for learners of all ages, backgrounds, and languages.
              <br> <br> When you click submit, you will be sent an invoice with your donation amount. Please pay the invoice within 24 hours to complete your donation. Thank you for your support!
            </p>
			<form onsubmit="handleDonate(event)">
				<label for="name">Full Name:</label>
				<input style = "width: 50%"  type="text" id="name" name="name" required>
                <label for="email">Email Address:</label>
				<input style = "width: 50%" type="email" id="email" name="email" required>
				<label for="amount">Quantity to Donate (USD):</label>
				<input style = "width: 50%" type="number" id="amount" name="amount" min="0" step="0.01" required>
				<label for="message">Leave a Message:</label>
				<textarea style = "width: 50%" id="message" name="message"></textarea>
                <button class="donate-btn" onclick="console.log('TEST')"  type="submit" value = "Submit">Submit</button>
            </form>
		</div>
	</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>