<!DOCTYPE html>
<html>
<head>
	<title>LexiCoach</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<h1 class="title">LexiCoach</h1>
		<div class="recently-practiced">
			<h2 class="section-title">Recently Practiced Lists</h2>
			<div class="scroll-box">
			{% for i in names %}
				<button class="recent-btn"> {{i}} </button>
		        {% endfor %}
			</div>
		</div>
		<button class="create-btn" onclick="goToVocabListWindow()">Create New Vocab List +</button>
		<button class="donate-btn" onclick="goToDonatePage()">Donate</button>
	</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>