<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/674457403730690068/1076876894345117837/RAO6AAAAAElFTkSuQmCC.png">
</head>
<body>
	<div class="container">
		<button class="create-button" onclick="goToHome()"><h1 class="title">LexiCoach</h1></button>
		<div class="recently-practiced items-center text-center ">
			<h2 class="section-title">Recently Practiced Lists</h2>
			<div class="scroll-box">
			{% for i in names %}
				<button class="recent-btn" onclick="startPractice(this)">{{i}}</button>
		        {% endfor %}
			</div>
		</div>
		<button class="create-btn" onclick="goToVocabListWindow()">Create New Vocab List +</button>
		<button class="donate-btn" onclick="goToDonatePage()">Donate</button>
	</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>