<!DOCTYPE html>
<html>
<head>
	<title>Vocabulary Practice</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/674457403730690068/1076876894345117837/RAO6AAAAAElFTkSuQmCC.png">
</head>
<body>
	<div class="container">
		<button class="home-button" onclick="goToHome()"><h1 class="title">LexiCoach</h1></button>
		<h1 class="title">Vocabulary Practice</h1>
		<h3><strong id="scoreholder"></strong></h3>
		<h3>Fill in the blanks with the correct terms.</h3>

		<form id="mainform">
			{% for i in sentences %}
			<div class="sentence">
				<label for="word{{i[1]}}" id=label{{i[1]}} class="form-label">{{i[0]}}</label>
				<input type="text" id="word{{i[1]}}" name="word{{i[1]}}" class="form-input" placeholder = "Answer..." cans = "{{i[2]}}" fullse = "{{i[3]}}" required>
			</div>

			{% endfor %}

			<button class="donate-btn" type="button" id="grader" onclick="grade()">Submit</button>
		</form>
	</div>

	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<button class="footer-button"><h1>Tree Hacks 2023</h1></button>
</body>
</html>